@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common style */
.my-grid figure figcaption {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.my-grid figure figcaption::before,
.my-grid figure figcaption::after {
	pointer-events: none;
}

.projectMobileLinks a {
	@apply p-[0.68rem] w-1/2;
}

.projectMobileLinks a:not(:last-of-type) {
	@apply border-r-2 border-gray-700;
}
